@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer theme {
  :root {
    --default-font-family: 'Montserrat', sans-serif;
  }
}

@layer base {
  img {
    @apply w-full !h-full object-cover;
}
  h1,h2,h3,h4,h5,h6{
    font-family: var(--default-font-family);
  }
}

@layer components{
  .box {
    @apply relative rounded flex items-center justify-center overflow-hidden border border-dashed border-gray-300 col-span-1 row-span-1 aspect-square p-2;
  }
    
  .box-double {
      @apply col-span-2 row-span-2;
      aspect-ratio: 2 / 2; /* cuadrado grande */
  }

  .box img{
    @apply w-full h-full object-cover rounded-md;
  }
}

@layer utilities{
  .aspect-portrait {
    aspect-ratio: 1 / 2;
  }
}

main {
  margin: 0 auto;
  padding: 8%;
}

image {
  border-radius: 1rem;
}

.sentinel {
  width: 100%;
  margin-top: 20px;
  opacity: 0;
}